@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap'); /***** Top content *****/


.navbar-sticky {
    position: sticky;
    background: white;
}

.navbar-color {
    color: white;
    background: black;
    position: sticky;
    border-bottom-color: white;

}

.top-content {
    padding: 7em;
    text-align: center;
    background-repeat: no-repeat;
    background: transparent;
    width: 100%;
    height: 80%;

}

.top-content .text {
    color: #000000;

}

.top-content .text h1 {
    margin-top: 25px;
    color: #000000;
}

.top-content .description {
    margin: 30px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .top-big-link {
    margin-top: 45px;
}

.SECRETARIAT {
    text-align: center;
    font-weight: bolder;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.card-hover {
    color: white;
    transition: 0.2s;
    font-size: 1em;
    width: 100%;

}

.card-hover:hover {

    transition: 0.2s;
    font-size: 2em;
    width: 110%;
}

.card-footer {
    color: black;
    font-size: 0.5em;

}


.card-hover image {
    width: 100%;
}

.card-hover image:hover {
    width: 80%;
}


.dimension {
    width: 500px;
    height: 300px;
}

.nav-tabs .nav-link.active {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #000000;
}

.nav-tabs .nav-link {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {

}

.nav-tabs {
    border-bottom: 1px solid #000000;
}

.tab-content {
    border: 1px solid #000000;
    padding: 20px;
}

.RegisterButton {
    color: black;
    background: white;
    font-size: 1em;
    background: none;
    border: none;
    transition: 0.3s;
    text-decoration: none;

}

.RegisterButton:hover {
    color: white;
    border-radius: 4PX;
    border: none;
    font-size: 2em;
    transition: 0.3s;
    background: black;
}

.btn1 {
    font-size: 1.5em;
    transition: 0.5s;
    color: white;
    border-radius: 20px;
    background: none;
    border-color: white;
    margin: 0px;
}

.btn1:hover {
    font-size: 2em;
    transition: 0.5s;
    color: antiquewhite;
    color: #2f2e2e;
    background: white;

}

.Phudu {
    font-family: 'Phudu', cursive;
}

.Shantell {
    font-family: 'Shantell Sans', cursive;
}

.text {
    font-family: 'Libre Baskerville', serif;
}

.card-block .btn-outline-primary {
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.card {
    margin: 10px 0;
}

/* The flip card p-container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This p-container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box p-container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;

    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background: #655DBB;
    color: #FFA3FD;
    transform: rotateY(180deg);
}

/*Commitee*/

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

.Phudu {
    font-family: 'Phudu', cursive;

}

.Gloock {
    font-family: 'Gloock', serif;
}

.Anton {
    font-family: 'Anton', sans-serif;

}

.text {
    font-family: 'Anton', sans-serif;
}

.text1 {
    font-family: 'Barlow Condensed', sans-serif;
}

.body {
    background: linear-gradient(#95BDFF,#F7C8E0);
    overflow-x: unset;
    position: relative;
    top: 0;

    left: 0;

}

#h1_1 {
    border-style: solid;
    /*border-left: transparent;*/
    /*border-bottom: transparent;*/
    /*border-top: transparent;*/


}


.btn2 {
    font-size: 1.5em;
    transition: 0.5s;
    color: white;
    border-radius: 20px;
    background: none;
    border-color: white;
    margin: 0px;
    width: 100%;
}

.btn2:hover {
    font-size: 2em;
    transition: 0.5s;

    background: white;

}

.flip-card-margin {
    margin-bottom: 10%;
    margin-right: 0%;
}

/*piyush's part*/


.card-body {
    color: #fff;
    background-color: #000000;
}

.footer {
    position: relative;
    width: 100%;
    background: #ffffff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #645CBB;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

#aboutus {

}

/*About us*/
.h1_committee {
    border-style: solid;


    /*border-style: solid;*/
    /*border-right: transparent;*/
    /*border-bottom: transparent;*/
    /*border-top: transparent;*/

    width: 30%;
}

/*Piyush h1*/
.piyush_h1 {
    display: inline-block;
    justify-content: center;
    margin-left: 25%;
    color: rgb(217, 181, 119);
    background: black;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    width: 50%;


}


.piyush_h1:hover {
    display: inline-block;
    /*justify-content: center;*/
    /*margin-left: 35%;*/
    color: black;
    background: white;
}

.piyush_h1_1{

}

.piyush_h1_1:hover {
    display: inline-block;
    /*justify-content: center;*/
    /*margin-left: 35%;*/



}

.piyush_h1 {
    display: inline-block;
    justify-content: center;
    margin-left: 25%;
    color: white;
    background: black;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    width: 50%;
}


.piyush_h1_2 {
    display: inline-block;
    justify-content: center;
    margin-left: 18%;

    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    width: 68%;
}

.piyush_h1_2:hover {
    display: inline-block;
    /*justify-content: center;*/
    /*margin-left: 35%;*/
    color: black;
    background: white;
}

.card-thickness {

    margin: 0px;
    padding: 0px;
}


.final_flex {

}

.card-thickness {

    margin: 0px;
    padding: 0px;
    background: transparent;
}

.card-header-modify {
    background: #D9ACF5;
    color:#645CBB;
}

.card-footer-modified {
    background: #D9ACF5;
}

.card-body-modified {
    color: #865DFF;
    background:#E5D1FA;
}

.barlow {
    font-family: 'Barlow Condensed', sans-serif;
}

.final_flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.flex_try_1 {
    margin: 2.5%;
}


@media screen and (max-width: 1000px) {

    .first,
    .second,
    .third {
        width: 70%;
    }
}

.h1-color:hover{
    background: rgb(217, 181, 119);
    color: #30475E;
    transition: 0.2s;
    border-radius: 8%;
}
.h1-color{
    color: rgb(217, 181, 119);
    background: #30475E;
    transition: 0.2s;
    border-radius: 3%;
}